.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    margin: 0.5rem;
    padding: 1rem;
    background-color: #3be1a7;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number {
    color: #000000;
    opacity: 0.5;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: white;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;

}

.pokemon .detail .types .type {
    background: #61e1ca;
    color: #ffff;
    padding: .25 .5rem;
    margin: .25rem 0;
    size: .625rem;
    border-radius: 1rem;
}

.pokemon .detail img {
    border-style: none;
    max-width: 100%;
    height: 70px;
    align-self: end;
}


@media screen and (min-width: 380px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

